html,
body {
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */

  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;
  // pointer-events: none;
  margin: 0;
  height: 100%;
  overflow: hidden;
}

:root {
  --img-height: 1;
  --img-margins: 4;
  --img-height-farm: 0.5;
  --img-margins-farm: 2.5;
  --test-color: #06c;
}

$Green: #4caf50;
$Amber: #ffc107;
$Grey: rgba(163, 161, 161, 0.233);
$Border: 2px solid $Grey;

.verticalLine {
  border-left: $Border;
  grid-area: 2 / 2 / span all / span 1;
}

#bodyGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.1fr 4fr;
}

#counter {
  grid-area: 1 / 1 / span 1 / span all;
  padding-bottom: 20%;
  border-bottom: $Border;
  // text-align: center;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  height: 155px;
  // flex-direction: column;
  // justify-content: stretch;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  text-align: center;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-flow: column;
  #clickDisplay {
    //   border: 4px red solid;
    // line-height: 150px;
    font-size: 3rem;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
  }
  #perSecondDisplay {
    // margin-top: -40px;
    // margin-left: 50%;
    //   border: 4px red solid;
    // line-height: 50px;
    font-size: 2rem;
    font-style: italic;
    color: rgb(179, 179, 179);
    margin: 0px;
    padding: 0px;
    overflow: hidden;
  }
}

#dabVisual {
  // margin-left: 3%;
  // margin-top: 10%;
  margin: 0;
  // margin-bottom: -80vw;
  // height: 140%;
  // width: 94%;
  grid-area: 2 / 2 / span 2 / span 1;
  // border: $Border;
  border-bottom: $Border;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  cursor: pointer;
  img {
    pointer-events: none;
    height: 30%;
    width: 30%;
    // margin-bottom: 30%;
  }
}

#buttonGrid {
  grid-area: 1 / 1 / span 1 / span 1;
  display: flex;
  justify-content: center;
  align-items: center;
  // margin-top: 30%;
  margin: 0px;
  padding: 0px;
  // margin-top: -20vw;
  // float: right;
  .dabButton {
    // margin: auto;
    // height: 20px;
    // width: 20%;
    // border: 4px red solid;
    text-align: center;

    button {
      // height: 100px;
      // width: 200px;
      text-align: center;
      font-size: 1.5em;
    }
  }
  #clickButton {
    margin: 0;
    // height: 200px;
    // width: 20%;
    //   border: 4px red solid;
    text-align: center;
    // display: inline;

    button {
      // height: 100px;
      // width: 200px;
      text-align: center;
      font-size: 1.5em;
    }
  }
  #resetButton {
    margin: 0;
    display: flex;
    // margin: auto;
    // height: 100px;
    width: 20%;
    // border: 4px red solid;
    text-align: center;

    button {
      // height: 100px;
      // width: 200px;
      text-align: center;
      font-size: 1.5em;
    }
  }
}

#displayContainer {
  // width: 100%;
  min-width: 45vw;
  margin-top: 1rem;
  grid-area: 2 / 1 / span all / span 1;
  margin-left: 5%;
  margin-right: 5%;
  // margin-right: 80%;
  // padding-right: 20%;
  // overflow: scroll;
  overflow-y: scroll;
  border: $Border;
  border-radius: 8px;
  height: 84vh;
  #background {
  }
  .otherBuyButton {
    border-color: $Amber !important;
  }
  .buyButton {
    border-color: $Amber !important;
    color: $Amber !important;
  }
  #standImg {
    pointer-events: none;
    height: 50px;
    width: 70px;
  }
  #cardDisplay {
    width: 100%;
    // margin-top: 1rem;
    // grid-area: 2 / 1 / span 1 / span 2;
    // margin-left: 10%;
    // // margin-right: 80%;
    // padding-right: 20%;
    padding: 0 3%;
    padding-top: 1.5%;
    padding-bottom: 0;
    #card {
      // overflow: scroll;
      #dabDisplayer {
        // height: 200px;
        // width: 200px;
        // overflow: hidden;
        #imgCounter {
          pointer-events: none;
          height: calc(var(--img-height) * 0.2vw);
          margin: calc(var(--img-margins) * 0.2vw);
        }
        #imgCounterFarm {
          pointer-events: none;
          height: calc(var(--img-height) * 0.15vw);
          margin: calc(var(--img-margins) * 0.2vw);
        }
      }
    }
  }
}

@media (max-height: 680px),
  (max-width: 600px),
  screen and (orientation: portrait) {
  :root {
    font-size: 9px;
    --img-height: 1.87;
    --img-margins: 8;
    --img-height-farm: 1;
    --img-margins-farm: 5;
  }
  #counter {
    height: 80px;
    #clickDisplay {
      font-size: 2.5rem;
    }
    #perSecondDisplay {
      font-size: 1.6rem;
    }
  }
  #displayContainer {
    grid-area: 3 / 1 / span 1 / span all;
    height: 62.2vh;
    #standImg {
      height: 15px;
      width: 25px;
    }
  }
  #dabVisual {
    grid-area: 2 / 1 / span 1 / span all;
    img {
      margin-bottom: 0%;
    }
  }
  #bodyGrid {
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0.4fr 1fr;
  }
}
