$Green: #4caf50;
$Amber: #ffc107;

.buybutton {
  border-color: $Amber !important;
  color: $Amber !important;
}

.otherbuybutton {
  border-color: $Amber !important;
}

.dabbutton {
  margin: auto;
  height: 100px;
  width: 20%;
  // border: 4px red solid;
  text-align: center;

  button {
    height: 100px;
    width: 200px;
    text-align: center;
    font-size: 1.5em;
  }
}

#bodygrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

#standimg {
  height: 60px;
  width: 60px;
}

#clickdisplay {
  margin: auto;
  //   border: 4px red solid;
  text-align: center;
  line-height: 150px;
  width: 800px;
  height: 100px;
  font-size: 3em;
  grid-area: 1 / 2 / 2 / 3;
}

#perseconddisplay {
  margin: auto;
  //   border: 4px red solid;
  text-align: center;
  line-height: 50px;
  width: 800px;
  height: 50px;
  font-size: 2em;
  font-style: italic;
  color: rgb(179, 179, 179);
  grid-area: 1 / 2 / 2 / 3;
}

#clickbutton {
  margin: auto;
  // height: 200px;
  // width: 20%;
  //   border: 4px red solid;
  text-align: center;
  display: inline;

  button {
    // height: 100px;
    // width: 200px;
    text-align: center;
    font-size: 1.5em;
  }
}

#resetbutton {
  margin: auto;
  height: 100px;
  width: 20%;
  // border: 4px red solid;
  text-align: center;

  button {
    height: 100px;
    width: 200px;
    text-align: center;
    font-size: 1.5em;
  }
}

#buttongrid {
  grid-area: 2 / 2 / span 1 / span 1;
}

#dabdisplayer {
  height: 200px;
  // width: 200px;

  img {
    height: 7.8vw;
    width: 7.8vw;
    min-height: 100px;
    min-width: 100px;
  }
}

#card {
  min-width: 20rem;
  overflow: scroll;
}

#carddisplay {
  margin-left: 1vw;
  margin-top: 1rem;
  grid-area: 1 / 1 / 2 / 2;
}
